# Ignore node_modules folder
node_modules/

# Ignore build directories
android/build/
ios/build/

# Ignore logs and other temporary files
*.log
.DS_Store
.git/

# Ignore any other files or folders that are unnecessary
